# CMake
CMakeFiles/
Debug/
RelWithDebInfo/
*.cmake
!CMakeMacros.cmake
CMakeCache.txt

# Linux
covhtml/
build.ninja

# Windows
.vs/
x64/
*.dir/
*.bin
*.tlog
*.dat
*.db
*.opendb
*.slnx
*.suo
*.filters
*.ipch
*.lib
*.exe
*.obj
*.pdb
*.user
*.ilk
*.pch
*.vcxproj
*.tmp
*.psess
*.vspx
install_manifest.txt
