# CMake
CMakeFiles/
Debug/
Release/
ReleaseCI/
*.cmake
!CMakeMacros.cmake
CMakeCache.txt

# Python
__pycache__/
htmlcov/
CodeCoverageHTMLReport/
coverage.xml
.coverage
CoberturaCodeCoverageResults_FileArbDevOpsPythonTests.xml

# Linux
build.ninja

# Windows
.vs/
x64/
*.dir/
*.bin
*.tlog
*.dat
*.db
*.opendb
*.sln
!FileArbDevOpsPython.sln
*.suo
*.filters
*.ipch
*.lib
*.exe
*.obj
*.pdb
*.user
*.ilk
*.pch
*.vcxproj
*.tmp
*.psess
*.vspx
install_manifest.txt

# Cppcheck
Cppcheck/files.txt
*.a1
*.a2
*.a3
*.a5
*.s2
*.s4
*.s6
cppcheck_results.txt
